body{
  background: #263042;
}

.App {
  text-align: center;
}

h1{
  color: white;
}


p{
  padding-top:0;
}

.App {
  min-height: 100vh;
  max-width: 1000px;
  padding-bottom: 30vh;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.step{
  background:white;
  padding:30px 50px;
  margin:20px;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,.7);
}

.step > img{
  max-width: 100px;
}

a:not(.link){
  padding:15px 20px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  text-decoration: none;
  background-color: #7a8686;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
  color: white;
  font-weight: bold;
}

ul > *{
  text-align: left !important;
}
